@model Apartments_io.Areas.Resident.ViewModels.Apartments.ListViewModel

@foreach (Apartment apartment in Model.Apartments)
{
    <div>
        <a asp-controller="Apartments" asp-action="Single" asp-route-apartmentId="@apartment.Id">
            <img src="@apartment.MainPhoto" width="150" height="100" />
            <p>@apartment.Name</p>
            <p>@apartment.Price</p>

        </a>
        @if (Model.IsUsersRequest.Contains(apartment.Id))
        {
            <button data-id="@apartment.Id" class="btn-request">Cancel</button>
        }
        else
        {
            <button data-id="@apartment.Id" class="btn-request">Send request</button>
        }

    </div>
}

<!--PAGINATION-->
<pagination-link pagination-model="Model.PaginationModel" controller-name="Apartments" action-name="List"></pagination-link>

@section Scripts
    {

    <script>
        $(".btn-request").click(function () {

            var btn = this;

            // TODO: maybe rework this
            var user_id = @Model.UserId; 
            var apartment_id = $(this).data("id");



            if ($(this).text() == "Send request") create_request(user_id, apartment_id).done(function () { $(btn).text("Cancel"); });
            else delete_request(user_id, apartment_id).done(function () { $(btn).text("Send request"); });
        });

    </script>
}

