@model Apartments_io.Areas.Resident.ViewModels.Apartments.ListViewModel
<!--FILTERING-->



<div class="m-3">
    <div class="col-am-12">
        <div class="choose">
            <center>
                <h3>Choose your apartment:</h3>
            </center>
        </div>
        <div>
            <form method="get" id="filter-form">
                <div class="form-inline apartment-filter">
                    <input type="hidden" name="page" value="1" />
                    <p class="mb-0 mr-2">From</p>
                    <input id="filter-min-price" type="number" name="minPrice" class="form-control mr-2" value="@ViewData["minPrice"]" />

                    <p class="mb-0 mr-2">To</p>
                    <input id="filter-max-price" type="number" name="maxPrice" class="form-control mr-2" value="@ViewData["maxPrice"]" />

                    <input type="submit" value="Filtering" class="btn btn-secondary"/>
                </div>
            </form>
        </div>
    </div>
</div>



<!--LIST-->
@foreach (Apartment apartment in Model.Apartments)
{
    <div class="row mt-3 mb-3">
        <a asp-controller="Apartments" asp-action="Single" asp-route-apartmentId="@apartment.Id" class="col-sm-10">
            <div class="row">
                <div class="col-sm-3">

                    <img src="@apartment.MainPhoto"
                         alt="@apartment.Name" height="150" width="150" style="border-radius: 50%;">
                </div>
                <div class="col-sm-9">
                    <h5>@apartment.Name</h5>
                    <p>@apartment.Description</p>
                    <p>Price: @apartment.Price$</p>
                </div>
            </div>
        </a>

        <div class="text-right col-sm-2 mt-auto">
            @if (Model.IsUsersRequest.Contains(apartment.Id))
            {
                <button data-id="@apartment.Id" class="btn btn-warning btn-request float-right">Cancel</button>
            }
            else
            {
                <button data-id="@apartment.Id" class="btn btn-info btn-request float-right">Send request</button>
            }
        </div>
    </div>
}

<!--PAGINATION-->
<pagination-link pagination-model="Model.PaginationModel" controller-name="Apartments" action-name="List"></pagination-link>

@section Scripts
    {

    <script>
        // FILTER SUBMIT
        $("#filter-form").submit(function (event)
        {
            var minPrice = $("#filter-min-price").val();
            var maxPrice = $("#filter-max-price").val();

            if (minPrice > maxPrice)
            {
                event.preventDefault();
                alert("Min price can not be higher than max price");
            }
        });

        // SEND REQUEST
        $(".btn-request").click(function () {

            var btn = this;

            // TODO: maybe rework this
            var user_id = @Model.UserId;
            var apartment_id = $(this).data("id");



            if ($(this).text() == "Send request") create_request(user_id, apartment_id).done(function () { $(btn).removeClass("btn-info").addClass("btn-warning").text("Cancel"); });
            else delete_request(user_id, apartment_id).done(function () { $(btn).removeClass("btn-warning").addClass("btn-info").text("Send request"); });
        });

    </script>
}

