@model Apartments_io.Areas.Resident.ViewModels.Apartments.SingleViewModel

<h2>Single</h2>

<img src="https://www.w3schools.com/howto/img_snow.jpg" width="150" height="100" />

<h3>Name</h3>
<p>@Model.Apartment.Name</p>

<h3>Description</h3>
<p>@Model.Apartment.Description</p>

<h3>Price</h3>
<p>@Model.Apartment.Price</p>

@if (Model.IsRenter)
{
    <h2>Rent expire date</h2>
    <p>@Model.Apartment.RentEndDate</p>
}
else
{

    <button data-apartment-id="@Model.Apartment.Id" data-user-id="@Model.UserId" class="btn-request">Send request</button>

    @section Scripts
        {

        <script>
            $(".btn-request").click(function () {

                var btn = this;

                var user_id = $(this).data("user-id"); 
                var apartment_id = $(this).data("apartment-id");



                if ($(this).text() == "Send request") create_request(user_id, apartment_id).done(function () { $(btn).text("Cancel"); });
                else delete_request(user_id, apartment_id).done(function () { $(btn).text("Send request"); });
            });

        </script>
    }
}