@model Apartments_io.Areas.Manager.ViewModels.Requests.IndexViewModel

<h2>Request</h2>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                Resident Name
            </th>
            <th>
                Resident Surname
            </th>
            <th>
                Resident Bill Status
            </th>
            <th>
                Apartment Img
            </th>
            <th>
                Apartment Name
            </th>
            <th>
                Rent End Date
            </th>
            <th class="w-100px text-center">
                Accept
            </th>
            <th class="w-100px text-center">
                Dismiss
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Request request in Model.Requests)
        {
            <tr>
                <td>
                    @request.Resident.FirstName
                </td>
                <td>
                    @request.Resident.LastName
                </td>
                <td>
                    @request.PercentagePayedProperly %
                </td>
                <td>
                    <img src="@request.Apartment.MainPhoto" width="150" height="100" />
                </td>
                <td>
                    @request.Apartment.Name
                </td>
                <td>
                    @request.Apartment.RentEndDate?.ToShortDateString()
                </td>
                <td>
                    <button data-request-id="@request.Id" class="btn btn-success btn-accept">Accept</button>
                </td>
                <td>
                    <button data-request-id="@request.Id" class="btn btn-danger btn-dismiss">Dismiss</button>
                </td>

            </tr>
        }
    </tbody>
</table>

<!--PAGINATION-->
<pagination-link pagination-model="Model.PaginationModel" controller-name="Requests" action-name="Index"></pagination-link>

@section Scripts
{
    <script>
        $(".btn-accept").click(function () {
            $.post("/manager/Requests/AcceptRequest",
                {
                    requestId: $(this).data("request-id")
                }).done(function () {
                    location.reload();
                }).fail(function () {
                    alert("fail");
                });
        });

        $(".btn-dismiss").click(function () {
            $.post("/manager/Requests/DismissRequest",
                {
                    requestId: $(this).data("request-id")
                }).done(function () {
                    location.reload();
                }).fail(function () {
                    alert("fail");
                });
        });
    </script>
}

